@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Roboto", sans-serif;

    .app{
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        display: flex;

        .stage{
            flex: 1;
            height: 100%;

            .grid-wrapper{
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .grid{
                    display: flex;
                    flex-wrap: wrap;

                    .node-border{
                        border: 1px solid #1abc9c;
                        border-radius: 15%;
                    }

                    .node{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 15%;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;

                        &.animate{
                            animation: node 200ms ease-in-out;

                            @keyframes node{
                                50%{transform: scale(1.1)}
                                100%{transform: scale(1)}
                            }
                        }
                    }
                }
            }
        }

        .sidebar{
            width: 250px;
            height: 100%;

            .title{
                padding-top: 10px;
                text-align: center;
            }
        }

        .expansion-panel{
            .drop-down{
                width: 24px;
            }
        }

        .sidebar, .expansion-panel{
            .settings{
                width: 100%;
                height: 100%;
                margin-top: 10px;

                .input-wrapper{
                    padding: 5px 15px;

                    .input{
                        width: 100%;
                    }

                    .slider-wrapper{
                        margin-top: 10px;
                    }
                }
            }
        }

        .alert{
            &.error{
                background-color: #d32f2f;
            }

            .message{
                display: flex;
                align-items: center;

                img{
                    margin-right: 8px;
                }
            }
        }
    }
}
