body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .grid{
        display: flex;
        flex-wrap: wrap;

        .node{
            outline: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .settings{
        .number{
            label{
                margin-left: 10px;
            }
            input{
                width: 50px;
            }
        }
    }
}
