body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .grid{
        display: flex;
        flex-wrap: wrap;

        .node{
            border: 1px solid #1abc9c;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15%;

            &.animate{
                animation: node 200ms ease-in-out;

                @keyframes node{
                    50%{transform: scale(1.1)}
                    100%{transform: scale(1)}
                }
            }
        }
    }

    .settings{
        .number{
            label{
                margin-left: 10px;
            }
            input{
                width: 50px;
            }
        }
    }
}
